<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODOs</title>
  </head>
  <body>
    <h1>TODOs</h1>

    <form action="/todos" method="post">
      <input type="text" name="title" id="title" placeholder="Title" /><br />
      <textarea
        name="body"
        id="body"
        cols="30"
        rows="10"
        placeholder="Body"
      ></textarea
      ><br />
      <input type="submit" value="Create TODO" />
    </form>

    <ul>
      <% @todos.each do |todo| %>
      <li>
        <dl>
          <dt>Title</dt>
          <dd><%= todo[:title] %></dd>

          <dt>Body</dt>
          <dd><%= todo[:body] %></dd>
        </dl>

        <form action="/todos/<%= todo[:id] %>" method="post">
          <input type="submit" value="Delete TODO" />
        </form>
      </li>
      <% end %>
    </ul>
  </body>
</html>
